*{
    margin: 0;
}
body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: #2de286;
    height: 70px;
    width: 100%;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    align-self: flex-start;
    margin: auto;
}

footer{
    background-color: #d84f1a;
    height: 30px;
    width: 100%;
}
