<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>A programmer's portfolio</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
            {{{body}}}
        <footer>&copy 2018</footer>
    </body>
</html>
